:root {
  /* Color */
  --body-color: #154367;
  --toggle-color: #ff4081;
  --toggle-active-color: #2196f3;
  --navigation-color: #154367;
  --navigation-hover-color: #03a9f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--body-color);
  overflow: hidden;
}

.navigation {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
  z-index: 1000;
  border-radius: 4px;
  overflow: hidden;
}

.navigation.active {
  width: 250px;
  height: 350px;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
}

.navigation .toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--toggle-color);
  transition: 0.5s;
  cursor: pointer;
}

.navigation .toggle.active {
  background: var(--toggle-active-color);
}

.navigation .toggle::before {
  content: "+";
  position: absolute;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
}

.navigation .toggle.active::before {
  transform: rotate(315deg);
}

.navigation ul {
  position: absolute;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
}

.navigation ul li:hover {
  background: var(--navigation-hover-color);
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--navigation-color);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.navigation ul li a .icon .fa {
  font-size: 24px;
  color: var(--navigation-color);
}

.navigation ul li a .title {
  position: relative;
  display: block;
  line-height: 50px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a .icon .fa,
.navigation ul li:hover a .title {
  color: #fff;
}
